* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'ValorantFont'; 
  src: url('./fonts/Valorant\ Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    background-image: linear-gradient(135deg, #dd4753 0%, #BD3944 50%, #0F1923 100%);
}


.pic-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 24px;
    margin: 20px; 

}

.text1 {
    min-height: 200px;
    grid-column:1 / 3 ;
    grid-row: 1;
    font-size: 60px;
    font-weight: bolder;
    text-align: start;
    color: #000000;
    font-family: 'ValorantFont', Arial, sans-serif;
}

.text2 {
    min-height: 200px;
    grid-column:1/2 ;
    grid-row: 2;
    font-size: 60px;
    font-weight: bolder;
    text-align: start;
    color: #000000;
    font-family: 'ValorantFont', Arial, sans-serif;
}

.pic1 {
    grid-column: 4 ;
    grid-row: 1;
    background-image: url(../page4/assets/pic1.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
}

.pic2 {
    grid-column: 3 ;
    grid-row: 2;
    background-image: url(../page4/assets/pic2.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
}

.pic3 {
    grid-column: 5 ;
    grid-row: 2;
    background-image: url(../page4/assets/pic3.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
}

.pic4 {
    grid-column:2 ;
    grid-row: 3;
    background-image: url(../page4/assets/pic4.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
}


.pic5 {
    grid-column: 4 ;
    grid-row: 3;
    background-image: url(../page4/assets/pic5.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
}

.pic6 {
    grid-column: 1 ;
    grid-row: 4;
    background-image: url(../page4/assets/pic6.jpg);
    background-size: cover;
    min-height: 200px;
    position: relative;
    left: -28px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
}

.pic7 {
    grid-column: 3 ;
    grid-row: 4;
    background-image: url(../page4/assets/pic7.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
}

.pic8 {
    grid-column: 5;
    grid-row: 4;
    background-image: url(../page4/assets/pic8.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
}

.line {
    position: absolute;
    left: 60%; 
    top: 0;
    bottom: 0;
    width: 2px;
    height: 900px;
    background-color: black;
    z-index: 10;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    margin-left: 20px;
    gap: 38px;
    margin-bottom: 20px;
    
}

a {
    width: 300px;
    height: 70px;
    font-size: 20px;
    font-weight: bolder;
    background: repeating-linear-gradient(45deg, rgba(255,255,255, 0.05) 0px, rgba(255,255,255, 0.05) 2px, transparent 2px, transparent 4px),
    linear-gradient(to left, #75131b, #4B2041);;
    color: rgb(245, 244, 244);
    border: none;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.current-page {
  color: rgb(0, 0, 0);
  background: #FF4655;
  font-weight: bold;
}

