* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../page1/assets/body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 90px 40px 40px 40px;

}

h1 {
    color: rgb(193, 105, 187);
}

.pic-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    margin-top: 20px;
}



.pic1 {
    grid-column: 1 ;
    grid-row: 1;
    background-image: url(../page1/assets/pic1.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
    min-height: 200px;
}

.pic2 {
    grid-column: 2;
    grid-row: 1;
    background-image: url(../page1/assets/pic2.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
    min-height: 200px;
}

.pic3 {
    grid-column: 3;
    grid-row: 1;
    background-image: url(../page1/assets/pic3.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
    min-height: 200px;
}

.pic4 {
    grid-column: 4;
    grid-row: 1;
    background-image: url(../page1/assets/pic4.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
    min-height: 200px;
}

.pic5 {
    grid-column: 1;
    grid-row: 2;
    min-height: 200px;
    background-image: url(../page1/assets/pic5.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
}

.pic6 {
    grid-column: 2;
    grid-row: 2;
    min-height: 200px;
    background-image: url(../page1/assets/pic6.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
}

.pic7 {
    grid-column: 3 ;
    grid-row: 2;
    min-height: 200px;
    background-image: url(../page1/assets/pic7.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
}

.pic8 {
    grid-column: 4;
    grid-row: 2;
    min-height: 200px;
    background-image: url(../page1/assets/pic8.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 80px;
    gap: 38px;
    
}

a {
        width: 300px;
        height: 70px;
        background: linear-gradient(to right, #774e4e  51%, #954343  100%);
        color: white;
        border: none;
        border-radius: 10px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
       }

 .current-page {
  color:rgb(246, 246, 246);
  background: #b75f5f;
  font-weight: bold;
}




