* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #0A192F 20%, #00D4FF 70%, #2BFF88 100%);
    margin: 90px 40px 40px 40px;

}
h1 {
    color: #2BFF88;
}


.pic-container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    margin-top: 20px; 

}


.pic1 {
    grid-column: 1 / 3 ;
    grid-row: 1;
    background-image: url(../page2/assets/pic1.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
    min-height: 200px;
}

.pic2 {
    grid-column: 3;
    grid-row: 1;
    background-image: url(../page2/assets/pic2.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
    min-height: 200px;
}

.pic3 {
    grid-column: 4;
    grid-row: 1;
    background-image: url(../page2/assets/pic3.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
    min-height: 200px;
}

.pic4 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../page2/assets/pic4.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
    min-height: 200px;
}

.pic5 {
    grid-column: 2;
    grid-row: 2 / 4;
    min-height: 200px;
    background-image: url(../page2/assets/pic5.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
}

.pic6 {
    grid-column: 3 / 5 ;
    grid-row: 2;
    min-height: 200px;
    background-image: url(../page2/assets/pic6.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
}

.pic7 {
    grid-column: 1 ;
    grid-row: 3;
    min-height: 200px;
    background-image: url(../page2/assets/pic7.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
}

.pic8 {
    grid-column: 3 ;
    grid-row: 3;
    min-height: 200px;
    background-image: url(../page2/assets/pic8.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
}

.pic9 {
    grid-column: 4 ;
    grid-row: 3;
    min-height: 200px;
    background-image: url(../page2/assets/pic9.jpg);
    background-size: cover;
    min-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px #2e251e;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 80px;
    gap: 38px;
    
}

a {
    width: 300px;
    height: 70px;
    background: linear-gradient(to right, #4B2041, #163358);
    box-shadow: 10px 5px 5px #2e251e;
    color: #ECE8E1;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    }

a.current-page {
  color: rgb(254, 254, 254);
  background-color: #f0f0f0;
  font-weight: bolder;
}







